[Unit]
Description=Server for ECEn 224 Client Lab.

[Service]
User=ta
WorkingDirectory=/home/ta/client_server
ExecStart=/home/ta/client_server/.venv/bin/python /home/ta/client_server/app.py --delay 2 --timeout 5

[Install]
WantedBy=multi-user.target
